.happy_man-about{
	position: absolute;
	top: 20px;
	right: 0px;
	background: url(../images/photo/happy_man-about.png) no-repeat;
	width: 523px;
	height: 876px;
	z-index: -1;
}
.text.happy_man{
	padding-right: 250px;
}