.breadcrumb {
    overflow: hidden;
}

.breadcrumb li {
    float: left;
    color: #a5a5a5;
    padding-right: 3px;
}

.breadcrumb a {
    color: #a5a5a5;
    padding-right: 0px;
    font-style: italic;
}

.breadcrumb {
    padding-top: 12px;
    padding-bottom: 20px;
}

.breadcrumb li:after {
    content: "→";
}

.breadcrumb li:last-of-type:after {
    content: "";
}

.card_goods-name h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.card_goods-name {
    width: 557px;
}
.card_goods {
    width: 45%;
    float: left;
}

.card_goods-img {
    width: 45%;
    position: relative;
    float: right;
    padding: 16px 0px 0 48px;
    text-align: center;
    max-height: 302px;

}

.card_goods_nav {
    overflow: hidden;
    width: 89%;
    text-align: right;
    padding-right: 11%;
    padding-bottom: 75px;
    padding-top: 8px;
}

.cars_goods-select {
    padding-bottom: 17px;
}

.cars_goods-select span {
    margin-right: 75px;
    font-size: 16px;
    color: #396135;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.cars_goods-select .active {
    border: none;
    color: #000;
    font-weight: bold;
    cursor: auto;
}
.card_goods-select_color {}

.select_color-head {
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    padding-bottom: 30px;
}

.card_goods-description {
    padding-bottom: 15px;
}

.list_color-color {
    width: 40%;
    float: left;
    padding-right: 7%;
    padding-bottom: 20px;
}

.list_color-color .col {
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    float: left;
}

.list_color-color .desc {
    width: 128px;
    float: left;
    padding-left: 20px;
}
.card_goods_nav a {
    color: #707070;
    text-decoration: none;
    font-size: 16px;
    margin-left: 24px;
}
.card_goods-select_color {
    /*width: 45%;*/
    width: 56%;

    float: left;
}
.goods_characteristic-n {
    float: left;
    background: #FFF;
    padding-right: 3px;
    font-weight: bold;
}

.goods_characteristic-zn {
    float: right;
    background: #fff;
    padding-left: 3px;
}

/*.card_goods-characteristic {
    display: none;
}*/

.card_goods-characteristic li {
    overflow: hidden;
    position: relative;
}

.card_goods-characteristic li:before {
    content: "";
    left: 0;
    top: 15px;
    width: 100%;
    border-bottom: 1px dotted #c5c5c5;
    position: absolute;
    z-index: -1;
}
.card_goods_nav .prev {
    position: relative;
    background: #f5f5f5;
    padding: 7px 7px;
}

.card_goods_nav .prev:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 21px;
    height: 33px;
    background: url(../images/images/left_block_prev.png) no-repeat;
}

.card_goods_nav .next {
    position: relative;  background: #f5f5f5;  padding: 7px 7px;
}

.card_goods_nav .next:before {
    content: "";  position: absolute;  
    right: -20px;  top: 0;  width: 21px;  height: 33px;  
    background: url(../images/images/right_block_prev.png) no-repeat;
}
.easyzoom-flyout {
}

.easyzoom {
    position: relative;
    display: inline-block;
    max-width: 45%;
    max-height: 303px;
}
.easyzoom img {
    max-width: 100%;
    max-height: 303px;
}
.easyzoom_lop{
    
    width: 168px;
    height: 152px;
    left: -171px;
    top: -71px;
    background: url(../images/images/kl_lupe.png) no-repeat !important;
    z-index: 1000;
    position: absolute;
}
.zoomWindow {
    top: -70px !important;
    left: -171px !important;
    border: none !important;
    display: block !important;
    background-color: #fdfff3 !important;
    /*background-position:50% 0 !important; */
}
.card_img-cloud {
    position: absolute;
    left: -143px;
    top: -72px;
}
.zoomLens{
    z-index: 90 !important;
}