/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1740px) {
		/*parallax
		=======================================================*/
		/*.parallax_two-clover{
			display: none;
		}
		.parallax_two-bee {
			display: none;
		}*/
	}
	@media only screen and (max-width: 1400px) {
		.parallax_two-bee {
			min-width: 1531px;
		}
		.parallax_two-clover{
			min-width: 1531px;
		}

	}
	@media only screen and (max-width: 1300px) {
		/*header*/
		.menu_header{
			width: 64%;
		}
		.menu_header li{
			padding: 0 2%;
		}
		.parallax_two-clover{
			display: none;
		}
		.parallax_two-bee {
			display: none;
		}
	
		/*main
		====================================================*/
		#slider_one .flex-prev {
			left: -43px;
		}
		#slider_one .flex-next {
			right: -43px;
		}
		.slider_one-content {
			width: 45%;
		}
		.slider_one-head_slider {
			width: 42%;
		}
		/*goods*/
		.card_img-cloud{
			display: none;
		}
		.card_goods-select_color {
			/*width: 495px;*/
		}
		.card_goods-img {
			width: 40%;
		}
		/*catalog*/
		.catalog_list-img_goods {
		    text-align: right;
		    min-width: 161px;
		}

		.catalog_list li {
		    text-align: left;
		}
		.catalog_list li:nth-child(even) {
			margin-right:0;
		}


		.catalog_list-info_block {
		    text-align: left;
		}
	}
	@media only screen and (max-width: 1150px) {
		#slider_one .flex-prev, #slider_one .flex-next {
			display: none;
		}
		.card_goods-img{
			padding-left: 0px;
		}
	}
	@media only screen and (max-width: 1205px) {
		.content {
			max-width: 1100px;
			width: 96%;
			margin: 0 auto;
			padding: 0 2%;
		}
	}
	@media only screen and (max-width: 1100px) {
		.catalog_list {
			text-align: center;
		}
		.catalog_list {
			max-width: 837px;
			width: 100%;
			margin: 0 auto;
		}
		.slider_content-goods {
			display: none;
		}
		.slider_one-happy_man {
			margin-left: 36%;
		}
		.slider_one-content {
			width: 35%;
		}
	}
	@media only screen and (max-width: 1000px) {
		/*main
		====================================================*/
		#slider_one .flex-prev, #slider_one .flex-next {
			display: none;
		}

	}

	@media only screen and (max-width: 959px) {
		/*main
		====================================================*/
		.slider_content-goods {
			display: none;
		}
		.content {
			width: 95.9%;
			padding: 0 2%;
		}
		.slider_one-content {
			width: 26%;
		}
		.slider_one-happy_man {
			margin-top: 110px;
			width: 228px;
			margin-left: 27%;
		}
		.slider_one-head_slider {
			width: 54%;
		}
		/*goods*/
		.card_goods-select_color {
			width: 83%;
		}
		.card_goods_nav {
			text-align: center;
		}
		.card_goods-img{
			padding-top: 83px;
		}
	}
	@media only screen and (max-width: 870px){

		/*header*/
		.logo_header {
			width: 100%;
			text-align: center;
		}
		.menu_header li {
			padding: 0 4%;
			float: none;
			display: inline-block;
			margin: 0px;
		}
		.menu_header ul {
			margin: 0;
		}
		.menu_header {
			width: 100%;
			text-align: center;
			padding-top: 15px;
		}
		header {
			padding-bottom: 20px;
		}
		.slider_one-happy_man .big_button {
			left: 10px;
		}
	}
	@media only screen and (max-width: 800px) {
		.catalog_list-info_block {
		    width: 160px;
		}
		.catalog_list li {
		    min-width: 322px;
		}
		.catalog_list-img_goods{
			min-width: 129px;
		}
	}
	@media only screen and (max-width: 791px) {
		/*main
		====================================================*/
		.slider_one-content{
			display: none;
		}

	}
	@media only screen and (max-width: 788px) {
		.slider_one-happy_man {
			margin-top: 162px;
			width: 228px;
			margin-left: 2%;
		}
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/*main
		====================================================*/
		.slider_one-content {
			width: 26%;
		}
		
		
		/*goods*/
		.card_goods-select_color {
			width: 90%;
		}
		.card_goods{
			width: 46%;
		}
		/*catalog*/
		.catalog_list li {
			min-width: 299px;
		}
		/*about*/
		.happy_man-about {
		    display: none;
		}

		.text.relative.happy_man {
		    padding-right: 0;
		    width: 100%;
		}
	}

	@media only screen and (max-width: 740px) {
		/*head*/
		.menu_header li{
			padding: 0 3%;
		}
	/*goods*/

		.card_goods-img {
		    width: 100%;
		    text-align: center;
		    padding-right: 0;
		}

		.card_goods {
		    width: 100%;
		}

		.card_goods-name {
		    width: 100%;
		}

		.card_goods-select_color {
		    width: 100%;
		}
		/*catalog*/
		.catalog_list {
		    text-align: center;
		}

		.catalog_list li {
		    width: 350px;
		    margin: 0 auto !important;
		    display: block;
		    text-align: left;		
		}
		.card_goods-img{
			padding-top: 83px;
		}
		.easyzoom {
			position: relative;
			display: inline-block;
			left: 15%;
		}
	}

	@media only screen and (max-width: 650px) {
		/*head*/
		.menu_header li{
			padding: 0 2%;
		}
		/*main
		====================================================*/
		.slider_one-goods{
			margin-top: 130px
		}
		.slider_one-head_slider {
			width: 67%;
		}
		/*goods*/
		.cars_goods-select{
			overflow: hidden;
		}
		.cars_goods-select span {
			/*margin-right: 0px;*/
		}
		.cars_goods-select span.omega {
			/*float: right;*/
		}
	}

	@media only screen and (max-width: 600px) {
		/*head*/
		.menu_header li{
			padding: 0 1%;
		}
		/*main
		====================================================*/
		.slider_one-happy_man .big_button {
			left: 73px;
			top: 38%;
		}
		.slider_one-happy_man {
			margin-top: 15px;
			width: 294px;
			float: none;
			margin: 0 auto;
			top: 102px;
		}
		.slider_one-head_slider {
			width: 100%;
		}
		.slider_one-goods{
			display: none;
		}
		.slider_one-head_slider{
			padding-top: 30px;
		}
	}
	@media only screen and (max-width: 550px) {
		#slider_one {
			height: 700px;
		}
		/*bredcrumb*/
		.subsections_catalog {
			position: relative;
			z-index: 9999;
			overflow: inherit;
			background: #f1f1f1;
			padding: 20px 0;
		}
		.subsections_catalog ul {
			position: absolute;
			background: #f1f1f1;
			z-index: 10;
			width: 102%;
			left: -2%;
			top: 62px;
			border-bottom: 1px solid #dedede;
			padding-top: 10px;
			display: none;
		}
		.subsections_catalog li:nth-child(even) {
		    float: left;
		    width: 44%;
		    padding-right: 0;
		    text-align: left;
		}

		.subsections_catalog li:nth-child(odd) {
		    float:right;
		    width: 38%;
		    padding-left: 0;
		    text-align: left;
		    padding-left: 6%;
		}
		.subsection_catalog-head {
		    font-size: 16px;
		    display: block;
		}

		.subsection_catalog-head span {
		    border-bottom: 1px dashed;
		    cursor: pointer;
		    color: #656565;
		}
		.subsection_catalog-head span.active{
			border: none;
		}
		/*header*/
		.logo_header {
		    display: none;
		}.logo_header {}
		.menu_header a:hover {
			background: #628207;
		}

		.logo_header-mob {
		    display: block;
		    padding-right: 50px;
		}

		header {
		    position: relative;
		    padding: 6px 0px 1px;

		}

		.menu_header {
		    position: absolute;
		    float: right;
		    text-align: right;
		    top: 0;
		    right: 0;
		    padding-top: 76px;
		}

		.menu_header li {
		    padding: 0;
		    display: block;
		    overflow: hidden;
		    margin: 2px 0;
		}

		.menu_header a {
		    color: #fff;
		    text-decoration: none;
		    border: none !important;
		    text-transform: uppercase;
		    background: #819b07;
		    padding: 10px 30px 10px 17px;
		    font-size: 16px;
		    line-height: 40px;
		    right: -100%;
		    z-index: 10000;
		}

		span.menu_header-border {
		    display: none;
		}

		.menu_header-icon {
		    position: absolute;
		    top: 25px;
		    right: 22px;
		    width: 39px;
		    cursor: pointer;
		    height: 28px;
		    background: url(../images/images/menu_mob.png);
		    z-index: 10;
		}
		.menu_header-icon.active {
		    top: 17px;  
		    right: 13px;  
		    width: 57px;    
		    height: 43px;  
		    background: url(../images/images/menu_mob-active.png);
		}
		/*goods*/
		.list_color-color .desc {
		    display: none;
		}

		.list_color-color {
		    width: auto;
		    float: none;
		    display: inline-block;
		}

		.select_color-list_color {
		    text-align: center;
		}

		.select_color-head {
		    text-align: center;
		}

		.breadcrumb {
		    display: none;
		}

		.subsections_catalog {
		    margin-bottom: 32px;
		    border-bottom: 1px solid #dedede;
		}

	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		/*main
		====================================================*/
		/*layaut*/
		.block_right.studio_footer {
		    float: none;
		    padding-bottom: 34px;
		}

		.collback_footer.block_left {
		    float: none;
		}
		
		

	}


/* #Font-Face
================================================== */


	@font-face {
	    font-family: 'PTSans';
	    src: url('../fonts/pts56f.eot');
	    src: url('../fonts/pts56f.eot?iefix') format('eot'),
	         url('../fonts/pts56f.woff') format('woff'),
	         url('../fonts/pts56f.ttf') format('truetype'),
	         url('../fonts/pts56f.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: italic; }

	@font-face {
	    font-family: 'PTSans';
	    src: url('../fonts/pts55f.eot');
	    src: url('../fonts/pts55f.eot?iefix') format('eot'),
	         url('../fonts/pts55f.woff') format('woff'),
	         url('../fonts/pts55f.ttf') format('truetype'),
	         url('../fonts/pts55f.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }